:root {
    --cor-form: #ffffff;
    --cor-primaria: #f2f2f2;
    --cor-secundaria: #d68710;
    --cor-terciaria: #ccc;
    --cor-font: #333;
    --cor-border: #ddd;
    --cor-hover: #0056b3;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-primaria);
    color: var(--cor-font);
    align-items: center;
   }



form {
    width: 50%;
    margin: 0 auto;
    background-color: var(--cor-form);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid var(--cor-border);
    border-radius: 4px;
    padding: 20px;
}

legend {
    padding: 5px 10px;
    font-weight: bold;
    color: var(--cor-secundaria);
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--cor-font);
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-terciaria) ;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

input[type="submit"],
input[type="login"],
input[type="cadastrar"]
 {
    background-color: var(--cor-secundaria);
    color: var(--cor-form);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    text-align: center;
    margin: 10px;

}

input[type="submit"]:hover 
input[type="login"]:hover {
    background-color: var(--cor-hover);
}

.logo_drone {
    width: 400px;
 
 }

.logo {
    display: inline-blocks;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  
    padding: 20px;
}

.button {
    background-color: var(--cor-secundaria);
    color: var(--cor-form);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    text-align: center;
    width: 195px;
    margin: 10px;
    text-decoration: none;
    
}